{% load i18n %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
{{ spec.form.media }}
{% with choices.0 as i %}
    <form method="GET" action="">
        <ul>
            {% for field in spec.form %}
                {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
            {% endfor %}
            <div>
                {% for k, v in i.get_query.items %}
                    <input type="hidden" name="{{ k }}" value="{{ v }}">
                {% endfor %}
                <button type="submit" class="button button-longrunning" data-clicked-text="筛选中...">
                    <span class="icon icon-spinner"></span><em>筛选</em>
                </button>
            </div>
        </ul>
    </form>
    </ul>
{% endwith %}